Repository LibreHealthIO/lh-ehr, pull requests merged in 2019-05, with the labels that each got.

#1306 Fix #1275: Clinical Reports Enhancement (Dynamically Sized Inputs)
  assets/js/DataTables-1.10.16/datatables.css
  interface/reports/clinical_stats_by_demographics_report.php
  interface/reports/lab_stats_by_demographics_report.php
Labels: Feature: Reports, GCI Task

#1264 Fix: Broken Links and Added MAMP instructions
  Documentation/1_Installing/images/MAMP_installation/MACBAR.png
  Documentation/1_Installing/images/MAMP_installation/MAMP_Control1.png
  Documentation/1_Installing/images/MAMP_installation/PHP1.png
  Documentation/1_Installing/images/MAMP_installation/Settings1.png
  Documentation/1_Installing/images/MAMP_installation/Variable.png
  INSTALL.md
  README.md
Labels: Feature: Documentation, GCI Task

#1305 Fix #1298: Lab Overview Title Not Displaying
  interface/patient_file/summary/labdata.php
Labels: Feature: LABS, GCI Task

#1312 Fix #1311: File Manager Page Styling
  sites/default/filemanager/assets/css/dropzone.css
  sites/default/filemanager/assets/css/styles.css
  sites/default/filemanager/assets/js/dropzone.js
  sites/default/filemanager/assets/js/script.js
  sites/default/filemanager/index.php
  sites/default/filemanager/scan.php
Labels: GCI Task, UI: Style/Menu/Label

#1252 #1246: Calendar opens on medication outcome select <Resolved>
  interface/patient_file/summary/add_edit_issue.php
Labels: Feature: Calendar, Feature: Prescriptions, Review Requested!, Usability, bug

#1205 Provider scroll in Calendar's agenda views
  modules/calendar/index.php
Labels: Feature: Calendar, Usability, User Request, testing

#1183 Managing vacation/holidays in bulk
  library/appointments.inc.php
  modules/calendar/add.php
  modules/calendar/css/add.css
  modules/calendar/index.php
Labels: Feature: Calendar, GSoC2018, enhancement

#1359 UI Fix: Checkout Receipt Styling
  interface/patient_file/pos_checkout.php
Labels: Feature: BILLING, GCI Task, UI: Refactor, UI: Style/Menu/Label

#1381 More docker improvements
  .gitignore
  docker-compose.prod.yml
  docker/.env.ehr.example
  docker/README.md
  docker/dev
  docker/funcs
  docker/preflight
  docker/run
  docker/setup
Labels: Feature: Docker, Release and Deployment, Usability

#1386 Updated Facility ACL
  interface/main/main_title.php
  interface/patient_file/history/encounters.php
  interface/patient_file/summary/demographics.php
  interface/patient_file/summary/demographics_full.php
  interface/tags_filters/start.php
  library/appointments.inc.php
  modules/calendar/add_edit_event.php
  modules/calendar/includes/get_provider_events.php
  sql/2_0_0-to-2_0_1_upgrade.sql
  sql/database.sql
Labels: Feature: NEW, Feature: SECURITY/ACL, Usability, User Request
